@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

h1#nav-heading {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100
}

h2.subtitle.is-6 {
  font-family: 'Noto Sans JP', sans-serif;
}

h1.title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300
}

.content {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 17px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: rgb(211, 16, 162);
}
